body {
  position: relative;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 125%;
  color: $text-color;
}

header {
  width: 80vw;
  max-width: 950px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gallery {
  &__wrapper {
    width: 80vw;
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;
  }

  &__sort {
    select {
      margin: 0 auto 30px;
      padding: 5px 30px 5px 10px;
      height: 30px;
      font-size: 14px;
      background: $white;
      border: 1px solid #d6d6d6;
      border-radius: 4px;
      color: $text-color;

      &:hover,
      &:focus-visible,
      &:active {
        border: 1px solid #0071bb;
        color: $black;
        cursor: pointer;
      }

      &:focus {
        outline: none;
      }

      &:focus-visible {
        box-shadow: 0 0 0 2px rgba(0, 113, 187, 0.25);
      }
    }
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-row-gap: 30px;
    grid-column-gap: 50px;
    justify-content: space-between;
    justify-items: center;
  }

  &__item {
    position: relative;
    width: 200px;
    height: 300px;

    .item {
      outline: none;

      img {
        width: 200px;
        height: 300px;
        object-fit: cover;
        border: 2px solid $black;
        border-radius: 5px;
      }

      .tooltip {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.75);
        color: $white;
        padding: 5px 5px;
        border-radius: 5px;
        opacity: 0;
        transition: opacity 0.75s;
      }

      &:hover,
      &:focus-visible {
        .tooltip {
          visibility: visible;
          opacity: 1;

          p {
            position: relative;
          }

          p:nth-child(2),
          p:nth-child(3) {
            margin-top: 5px;
            padding-left: 25px;
            z-index: 2;
          }

          p:nth-child(2)::before,
          p:nth-child(3)::before {
            content: '';
            width: 20px;
            height: 20px;
            position: absolute;
            top: -2px;
            left: 0;
          }

          p:nth-child(2)::before {
            background: url(../images/content/star.svg) no-repeat;
          }

          p:nth-child(3)::before {
            background: url(../images/content/calendar.svg) no-repeat;
          }
        }
      }
    }

    .bin {
      position: absolute;
      top: 0;
      left: 200px;
      width: 32px;
      height: 32px;
      padding: 0;
      border-radius: 50%;
      background: url(../images/content/bin-1.png);
      background-size: 100%;
      border: none;

      &:hover,
      &:focus-visible {
        cursor: pointer;
        background: url(../images/content/bin-2.png);
        background-size: 100%;
      }

      &:focus {
        outline: none;
      }

      &:active {
        transform: translateY(1px);
      }
    }
  }

  &__pagination {
    .pagination-list {
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;

      .number-page,
      .switch-page {
        display: inline-block;
        width: 40px;
        height: 40px;
        margin: 0 5px;
        border: 1px solid #d6d6d6;
        border-radius: 5px;
        color: $text-color;
        text-align: center;
        font-size: 20px;
        line-height: 38px;

        &:hover:not(#activePage .number-page),
        &:focus-visible,
        &:active {
          border: 1px solid #0071bb;
          color: $black;
          background-color: rgba(0, 113, 187, 0.15);
          transition: all 0.05s;
        }

        &:focus {
          outline: none;
        }

        &:focus-visible {
          box-shadow: 0 0 0 2px rgba(0, 113, 187, 0.2);
        }
      }

      .switch-page {
        line-height: 34px;
      }

      #activePage .number-page {
        background-color: #0071bb;
        color: $white;
      }
    }
  }
}

.film {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  max-width: 950px;
  margin-left: auto;
  margin-right: auto;

  &__title {
    padding: 16px 0;
    font-size: 28px;
    font-weight: 700;
    color: $black;
  }

  &__image-wrapper {
    display: flex;

    .film__image {
      min-width: 280px;
      object-fit: contain;
      border: 2px solid $black;
      border-radius: 5px;
    }

    .film__statistics {
      min-width: 120px;
      padding-left: 5px;
      display: flex;
      flex-direction: column;
      font-size: 14px;

      p {
        position: relative;
        padding-bottom: 8px;
        padding-left: 25px;
        cursor: default;
      }

      p::before {
        content: '';
        position: absolute;
        width: 20px;
        height: 20px;
        top: -2px;
        left: 0;
        background-size: 100%;
      }

      p:nth-child(1)::before {
        background-image: url(../images/content/calendar.svg);
      }

      p:nth-child(2)::before {
        background-image: url(../images/content/star.svg);
      }

      p:nth-child(3)::before {
        background-image: url(../images/content/popularity.svg);
      }

      p:nth-child(4)::before {
        background-image: url(../images/content/vote.svg);
      }
    }
  }

  &__info {
    max-width: 624px;
    padding: 16px 0;
    display: flex;
    flex-direction: column;

    p:nth-child(1) {
      padding-bottom: 8px;
      font-size: 14px;

      span {
        font-weight: 500;
      }
    }

    p:nth-child(2) {
      text-indent: 32px;
    }
  }
}

@media screen and (max-width: 768px) {
  header {
    width: 100%;
    padding: 0 5vw;
  }

  .gallery__wrapper {
    width: 100%;
    padding: 0 5vw;
  }

  .gallery__container {
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    grid-row-gap: 24px;
    grid-column-gap: 40px;
  }

  .gallery__item {
    width: 160px;
    height: 240px;

    .item {
      img {
        width: 160px;
        height: 240px;
      }
    }

    .bin {
      left: 160px;
      width: 26px;
      height: 26px;
    }
  }

  .gallery__pagination {
    .pagination-list {
      .number-page,
      .switch-page {
        width: 28px;
        height: 28px;
        margin: 0 3px;
        border-radius: 3px;
        font-size: 14px;
        line-height: 26px;
      }
    }
  }

  .film {
    width: 100%;
    padding: 0 5vw;

    &__image-wrapper {
      flex-direction: column;

      .film__statistics {
        flex-direction: row;
        width: 100%;
        padding-top: 8px;
        padding-left: 0;
        font-size: 12px;

        p {
          padding-right: 15px;
          padding-bottom: 0;
        }
      }
    }

    &__info {
      max-width: 504px;
      padding: 8px 0;
    }
  }
}
